@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Open Sans', sans-serif;

  --clr-primary: #45e9d6;
  --background-color: #0f0f0f;
  --surface-clr: #1f1f1f;

  --grey-text: #363636;

  --box-shadow: 0px 0px 6px 0 #f2f2f2;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--grey-text);
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 40px;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(157, 240, 255);
  padding-top: 8px;
  padding-bottom: 8px;
}

.result .header-title {
  color: var(--clr-primary)
}


section.markdown {
  padding-right: 2rem;

}

textarea {
  padding: 15px;
  height: 100%;
  width: 100%;
  border: none;
  background-color: var(--surface-clr);

  outline: none;
  font-size: 1.2rem;
  box-shadow: 0px 0px 24px 0px #242424;
  color: white;
}